.places__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
}