.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: none;
  color: #ffffff;
}

.header__lang-link:first-child {
  margin-right: 18px;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}