.places {
    margin: 92px 148px 0px 148px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 80px;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 92px 48px 0px 48px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 88px 24px 0px 24px;
    }
}


@media screen and (max-width: 450px) {
    .places {
        margin: 64px 24px 0px 24px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 64px 0px 0px 0px;
    }
}