.places__image {
    max-width: 460px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .places__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .places__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .places__image {
        max-width: 288px;
    }
}