.places__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: url('../../../images/Pointer.svg'), pointer;
}

@media screen and (max-width: 320px) {
    .places__link {
        padding: 0px 16px;
    }
}