.header {
  max-width: 1184px;
  min-width: 320px;
  padding: 28px 48px 0px 48px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 288px;
    width: 100%;
    padding: 16px 16px 0px 16px;
  }
}