.places__place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
}

@media screen and (max-width: 1024px) {
    .places__place {
        max-width: 928px;
        grid-column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .places__place {
        grid-column-gap: 28px;
    }
}

@media screen and (max-width: 660px) {
    .places__place {
        max-width: 600px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 320px) {
    .places__place {
        max-width: 320px;
        grid-row-gap: 32px;
    }
}