.footer__item {
    display: inline;
    padding-right: 18px;
}

.footer__item:last-child {
    padding: 0;
}

@media screen and (max-width: 730px) {
    .footer__item {
        padding: 0px 0px 32px 0px;
    }
}