.cover__title {
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    /* or 106% */

    text-align: center;
    padding: 0;
    margin: 245px 0px 0px 0px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    z-index: 2;
}

@media screen and (max-width: 1280px) {
    .cover__title {
        margin: 245px 0px 0px 0px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin: 195px 0px 0px 0px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin: 115px 0px 0px 0px;
    }
}

@media screen and (max-width: 550px) {
    .cover__title {
        margin: 32px 0px 0px 0px;
        font-size: 40px;
        line-height: 1.07;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
    }
}