.places__website {
    max-width: 456px;
    width: 100%;
    padding: 0;
    margin: 0;
    align-self: end;
}

@media screen and (max-width: 320px) {
    .places__website {
        display: none;
    }
}